* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Palatino";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.main-container {
  width: 100%;
  height: 100%;
}

.center-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.column-gap-20 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 6em 10em;
  line-height: 1.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .text-container {
    padding: 6em 2em;
  }
}

@media screen and (max-width: 768px) {
  .text-container {
    padding: 6em 2em;
  }
}
