/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #000000;
  text-decoration: none;
}

/* UTILITIES */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.header {
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  flex: 1 0 auto;
  margin-bottom: 2vh;
}

.text-wall {
  text-align: center;
  justify-content: center;
  line-height: 2em;
  margin-left: 10vw;
  margin-right: 10vw;
}

.entity-text-wall {
  text-align: left;
  line-height: 2em;
  margin-left: 20vw;
  margin-right: 20vw;
}

.entity-details-divider {
  margin-left: 20vw;
  margin-right: 20vw;
}

.tagline {
  font-style: italic;
}

.bottom {
  flex-shrink: 0;
}

.footer li {
  display: inline;
  margin: 10px;
}

.entity-card {
  width: 20rem;
}

/* MEDIA QUERIES */
// Extra small devices (i.e. portrait phones)
@media (max-width: 575.98px) {
  .header {
    justify-content: left;
  }

  .entity-card {
    width: 100%;
  }
}

// Small devices (i.e. landscape phones)
@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    justify-content: left;
  }
}

// Medium devices (i.e. tablets)
@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    justify-content: left;
  }
}
